@font-face {
    font-family: steppe;
    src: url("../../assets/fonts/Steppe.otf");
}
@font-face {
    font-family: chillax;
    src: url("../../assets/fonts/Chillax-Medium.otf");
}
@font-face {
    font-family: dmSans;
    src: url("../../assets/fonts/DMSans-Regular.ttf");
}